@media(max-width:992px){
  nav{
   grid-template-columns:1fr 10fr 1fr;
  
  }
  .logo-navitems {
    justify-content: center;
  .navitems{
    display: none; 
  }
}

.icons{
  .mobilemenu{
    display: grid;
  }
}

}