

@media(max-width:992px){
  .contianer {
    max-width: 800px;
    /* border: 2px solid black; */
    margin: auto;
  }
  .navbar{
    margin-top: 0px;
  }
  .navitems{
    display: none;
  }
  .navbar .icons .mobilemenu{
    display: block;
   i{
    color: black;
   }
  }

 .home-page{
  justify-content: center;
  align-items: center;
  .home-page-content{
    .home-page-heding{
      text-align: center;
      h1{
        font-size:39px;
      }
    }
    .home-page-describe{
      text-align: center;
    }
    .hoem-page-button{
      justify-content: center;
    }
  } 
 } 
}


@media(max-width:390px){
  .navbar .icons .social-icons {
   display: flex;
   flex-wrap: wrap;
  }
}