

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER  */

/* .home-social-icons a{
  display: inline-block;
  transition: transform 0.3s ease;
} */

/* .navbar-nav li a:hover{
    color: rgba(227, 218, 218, 0.435);
    font-weight: bold;
} */

.nav-item:hover{
  background-color: rgb(117, 116, 116);
}
.home-social-icons a:hover {
  display: inline-block;
  transform: translateY(-5px);
  transition: transform 0.3s ease;
  
}

.offcanvas{
  width: fit-content !important;
}


/* slider  */


.slider-img{
  width: 100%;
  height: 600px;
  border-radius: 10px;
}



/* .navbar-nav{
  padding: 0 !important;
} */