
@media (min-width:768px) {
  
#cartcontainer{
.card{
    flex-direction: row !important;
  }

    .cart-img-div{
      width: 300px;
      display: flex;
      justify-content: center;
    }
    
    .cart-img{
      object-fit: cover;
      width: 300px;
      height: 300px;
    }

    
}
  
}