*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  font-family: 'Jost' !important;
}
header .navbar-brand, .carousel-content h2{
  font-family: 'Dancing Script','cursive';
}


/* HEADER  */

header li:not(:last-child) a:hover{
  color: rgb(255 193 7) !important;
}



/* CAROUSEL */

.carousel{
  background-image: url(../img/1.jpeg);
  height:650px;
  background-size: cover;
  background-position: bottom;
}

.carousel-item{
  padding-top: 200px;
}

.carousel-indicators [data-bs-target] {
      width: 15px !important;
      height: 15px !important;
}

.carousel-indicators {
  justify-content: inherit !important;
  right: inherit !important;
  left: inherit !important;
  margin-left: 0 !important;
  margin-bottom: 10% !important;
}
































.carousel-indicators .active{
  background-color: rgb(255 193 7) !important ;
 transform: scale(1.5);
}