


body{
  background: rgba(0, 0, 0, 0.807) !important;
    font-family: 'Jost' !important;
}




.slider-img{
  object-fit: cover;
  object-position: center;
  width: 100%;
  transition: all 0.4s ease-in-out;
 

 
}




.slide-btn button {
  font-weight: bold;
  border-radius: 8px;
  opacity: 0.8;
  transition: 0.3s;
}

.slide-btn button:hover {
  opacity: 1 !important;
}
