
body{
  background-image: url('../img/pexels-inspiredimages-157520.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-clip: content-box; 
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.edit,.delete {
  cursor: pointer;
}

