


body{
  background: rgba(0, 0, 0, 0.807) !important;
    font-family: 'Jost' !important;
}




.glass-card {
      background: rgba(255, 255, 255, 0.05);
      border: 1px solid rgba(255, 255, 255, 0.1);
      border-radius: 20px;
      padding: 2rem;
      backdrop-filter: blur(10px);
      box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
      width: 100%;
      max-width: 500px;
    }

    .form-control, .btn {
      border-radius: 10px;
    }

    #output {
      background-color: #ffffff15;
      color: #fff;
      font-family: monospace;
      min-height: 45px;
      padding: 0.6rem;
      border: 1px solid #aaa;
      border-radius: 10px;
      word-break: break-all;
    }

    .btn-copy {
      background-color: transparent;
      border: none;
      color: #fff;
      margin-left: 8px;
      cursor: pointer;
    }

    .btn-copy:hover {
      color: #0dcaf0;
    }



    input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove arrows for Firefox */
input[type=number] {
  -moz-appearance: textfield;
}